
.header {
	position: relative;
	z-index: 10;
	transition: all 0.3s ease;
}

.sticky-bar {
	position: fixed;
	top: -100px;
	width: 100%;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.9s ease;
}

.stick {
	top: 0;
	background-color: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* burger icon START */
.burger-icon {
	position: absolute;
	width: 24px;
	height: 20px;
	cursor: pointer;
	-webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	top: 45px;
	right: 27px;
}

.burger-icon>span {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
}

.burger-icon>span.burger-icon-top {
	top: 2px;
}

.burger-icon>span.burger-icon-mid {
	top: 9px;
}

.burger-icon.burger-close {
	position: fixed;
}

.burger-icon.burger-close>span.burger-icon-top {
	display: none;
	opacity: 0;
}

.burger-icon.burger-close>span.burger-icon-mid {
	top: 8px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.burger-icon.burger-close>span.burger-icon-bottom {
	bottom: 10px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.burger-icon.burger-icon-white>span::before,
.burger-icon.burger-icon-white>span::after {
	background-color: #667085;
}

/* burger icon END */

.hover-effect {
	transition: all 0.3s ease;
	/* Dodaje glatku tranziciju */
}

.hover-effect:hover {
	transform: translateX(5px);
	color: #006d77;
	;

}

.hover-effect:hover .active {
	color: #006d77;
}

